<p>demo-validate works!</p>
<div class="container">
    <div class="row">
        <form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" formControlName="name" placeholder="Name" class="form-control">
                <div *ngIf="name?.invalid && (name?.touched || name?.dirty)">
                    <p class="text-danger" *ngIf="name?.errors?.['required']">Hãy nhập name</p>
                    <p class="text-danger" *ngIf="name?.errors?.['email']">Hãy nhập name1</p>
                </div>
            </div>
            <div class="form-group">
                <input type="text" formControlName="address" placeholder="Address" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" formControlName="avatar" placeholder="Avatar" class="form-control">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" [disabled]="portfolioForm.invalid">Save</button>
            </div>
        </form>
    </div>
</div>
